html {
	background-color: lightskyblue;
}
body {
	margin: 0px;
	font-family: 'Lato', sans-serif;
}
h1,
h2 {
	font-family: 'Pacifico', cursive;
}

img {
	height: auto;
	width: 600px;
}
a:link {
	color: black;
}
a:focus {
	border-bottom: 1px solid;
	background: darkblue;
}
a:hover {
	border-bottom: 1px solid;
	background: #cdfeaa;
}
a:visited {
	color: #437a16;
}
